body, ul, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
body {
    background-color: #fff;
    font-size: 16px;
}
.l {
    float: left;
}
.r {
    float: right;
}
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.clearfix {
    *zoom: 1
}
.gray_bg {
    background-color: #f8f8f8;
}
.container {
    width: 970px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.header {
    padding: 20px 0 10px 0;
}
.contact_info li {
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
    width: 280px;
    height: 30px;
}
.contact_info li span, .contact_info li a {
    display: inline-block;
    vertical-align: middle;
}
.contact_info li a, .contact_info li img {
    height: 25px;
    width: 25px;
}
.base_info li {
    position: relative;
    margin-right: 48px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 32px;
    list-style: none;
    overflow: hidden;
}
.base_info .detail_tag {
    background: #93999f;
    padding: 7px 4px 7px 12px;
    box-sizing: border-box;
    color: #07111b;
    line-height: 14px;
}
.base_info .triangle {
    position: relative;
    margin-right: 8px;
}
.base_info .triangle::after {
    position: absolute;
    left: -5px;
    content: '';
    width: 0;
    height: 0;
    border-top: 16px solid #f8f8f8;
    border-left: 10px solid #93999f;
    border-bottom: 16px solid #f8f8f8;
}
.base_info .detail {
    padding-left: 8px;
    font-size: 16px;
}
.section {
    padding: 20px;
}
.section .title h2, .section .title p {
    text-align: center;
}
.section .title h2 {
    font-size: 35px;
}
.section .title p {
    margin: 0 0 5px 0;
    font-size: 26px;
    color: #787d82;
}
.project_item {
    border-bottom: 1px solid #d9dde1;
    overflow: hidden;
}
.project_item .item_title {
    padding: 23px 0 7px;
    color: #14191e;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.project_item .item_txt {
    padding-top: 7px;
    margin-right: 0;
    overflow: hidden;
}
.project_item .item_txt_img, .project_item .item_txt_img img {
    width: 270px;
    /*height: 130px;*/
    overflow: hidden;
    margin: 0 20px 0 0;
}
.project_item .item_txt_content {
    min-height: 140px;
    line-height: 28px;
    color: #787d82;
    margin-top: -5px;
}
.project_item .item_txt_content strong {
    color: #000;
}
.project_item .item_txt_btm {
    padding: 14px 0 25px;
    color: #93999f;
    line-height: 19px;
}
.project_item .left_info li {
    padding: 3px 5px;
    margin-right: 5px;
    float: left;
    color: #FFF;
    font-size: 12px;
    border-radius: 4px;
}
.project_item .left_info .tag_html {
    background-color: #FF4200;
}
.project_item .left_info .tag_css {
    background-color: orange;
}
.project_item .left_info .tag_js {
    color: #000;
    background-color: #fde900;
}
.project_item .right_info a {
    padding-left: 30px;
    color: green;
    text-decoration: none;
}
.work_exp_list .tl_item {
    position: relative;
    padding-left: 37px;
    border-left: 1px solid #d3d7da;
}
.work_exp_list .tl_item_first:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    left: -1px;
    top: 0;
    background-color: #fff;
}
.work_exp_list .time {
    position: absolute;
    left: 0;
    top: 20px;
    margin-left: -64px;
    line-height: 16px;
    font-size: 12px;
    color: #8a8c8f;
}
.work_exp_list .time:before {
    content: '';
    display: block;
    position: absolute;
    left: 60px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #d0d6d9;
}
.work_exp_list .time b {
    font-size: 18px;
    font-weight: 400;
}
.work_exp_list .time em {
    display: block;
    margin-top: 2px;
}
.work_exp_list .intro_wrap {
    padding: 30px 0;
}
.work_exp_list .intro_logo {
    width: 110px;
}
.work_exp_list .intro_work {
    padding-left: 130px;
}
.work_exp_list .intro_work .title {
    color: #93999f;
}
.work_exp_list .intro_work .title span {
    font-weight: bold;
    font-size: 18px;
    color: #e73c31;
}
